In [1]:
import pandas as pd
import numpy as np

In [2]:
my_list = [10,25,35]

x = np.array(my_list)

print(x)

[10 25 35]

In [3]:
type(x)

numpy.ndarray

In [4]:
pd.Series(my_list)

0    10
1    25
2    35
dtype: int64

In [6]:
index_values = ['Best','Second Best','Third Best']
my_list = [10,25,35]

one = pd.Series(data=my_list,index=index_values)

In [7]:
index_values = ['Best','Second Best','Forth Best']
my_list = [10,25,40]

two = pd.Series(data=my_list,index=index_values)

In [8]:
total = one + two
total

Best           20.0
Forth Best      NaN
Second Best    50.0
Third Best      NaN
dtype: float64

In [9]:
type(total)

pandas.core.series.Series

In [10]:
ice_cream = [['MCC',1],['Butterscotch',2],['Butter Pecan',3]]


ice_cream_dataframe = pd.DataFrame(ice_cream,index=['Flavor 1','Flavor 2','Flavor 3'], columns=('Flavor','Scoops'))

ice_cream_dataframe

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3

In [11]:
type(ice_cream_dataframe)

pandas.core.frame.DataFrame

In [13]:
ice_cream = ['MCC','Butterscotch','Butter Pecan']
scoops = [1,2,3]

dataframe_icecream = {'Flavor': ice_cream, 'Scoops': scoops}

ice_cream_dataframe = pd.DataFrame(dataframe_icecream,index=['Flavor 1','Flavor 2','Flavor 3'] )
ice_cream_dataframe

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3